* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: 16px;
    line-height: 24px;
    color: #444444;
}
.container {
    max-width: 1160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
/* header */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.site-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.site-logo:hover {
    color: #de2e54;
}
.site-logo-img {
    margin-right: 16px;
}

.site-logo-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #222;

}
.site-logo-text:hover {
    color: #de2e54;
}
.site-logo-text:active {
    opacity: 0.8;
}
.sitenav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sitenav-item:not(:last-child) {
    margin-right: 32px;
}
.sitenav-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
}
.sitenav-link:hover {
    color: #de2e54;
}
.sitenav-link:active {
    opacity: 0.8;
}

.main-link {
    border: 2px solid #de2e54;
    background-color: #de2e54;
    border-radius: 8px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 24px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main-link:hover {
    color: #de2e54;
    background-color: #fff;
    
}
.main-link:active {
    background-color: rgb(222, 46, 84, 0.8);
    color: #fff;
    border-color: transparent;
}
/* MAIN */
.hero {
    background-color: #0EB4C1;
    color: #fff;
}
.hero-section-container {
    display: flex;
    justify-content: space-between;
}
.hero-content {
    width: 500px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.hero-header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-top: 0;
    margin-bottom: 16px;
}
.hero-text {
    line-height: 27px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 36px;
}
.hero-link:hover {
    background-color: rgba(222, 46, 84, 0.8);
    color: #fff;
    border-color: transparent;
}
.hero-link:active {
    background-color: rgba(222, 46, 84, 0.6);
}
.hero-img {
    align-self: flex-end;
}


/* SERVICES */
.index-services {
    padding-top: 120px;
    padding-bottom: 120px;
}
.index-services-header {
    text-align: center;
    color: #000;
    font-family: 'Open Sans Condensed' sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 56px;
}
.index-services-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.index-services-item:not(:last-child) {
    margin-bottom: 80px;
}
.index-service {
    display: flex; 
}
.index-service-img {
    margin-right: 64px;
    box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
    border-radius: 24px;
}
.index-service-title {
    font-weight: 700;
    font-family: 'Open Sans Condensed' sans-serif;
    font-size: 24px;
    color: #222;
    margin-bottom: 24px;
}

.index-service-discription {
    margin: 0;
}
.index-service-action {
    display: flex;
    justify-content: center;
}
.hero-footer{
    background-color: #0EB4C1;
    padding-top: 64px;
    padding-bottom: 52px;
}

.hero-footer-menu {
    font-family:  'Open Sans Condensed' sans-serif;
    font-style: normal;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
    color: #fff;
    text-align: center;
    margin-bottom: 52px;
}



.hero-footer-list {
    display: flex;
   padding: 0;
   margin: 0;    
   justify-content: center;
   
  
}

.hero-footer-list-item {
    margin-bottom: 64px;
    list-style: none;
    letter-spacing: 2px;
    line-height: 18px;
    font-style: 'Open Sans Condensed', sans-serif;
    font-weight: 700;

}


.hero-footer-list-item-link{
    align-items: center;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #fff;
    padding: 12px 24px;

}

.hero-footer-list-item:not(:last-child) {
    margin-right: 88px;
}
.hero-footer-list-item-links:hover {
    background-color: rgba(222, 46, 84, 0.8);
    color: #fff;
    border-color: transparent;
}
.hero-footer-list-item-links:active {
    background-color: rgba(222, 46, 84, 0.6);
}

/* FOOTER */
.site-footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #222;
}
.site-footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-footer-logo-text {
    color: #fff;
}

.site-footer-logo-text:active {
    opacity: 0.8;
}

.sitenav-footer-link {
    color: #fff;
}
.sitenav-footer-link:active {
    color: #fff;
    opacity: 0.8;
}

